/**
 * Reset Mixing
 * ================================================== */
/**
 * Disable Animation
 */
/**
 * Disable animation depends on Browser or Operation System configuration
 */
/**
 * Accessability. Black and White Mode
 */
/**
 * Accessability. Inverse Mode
 */
/**
 * Meter reset
 */
/**
 * Modern CSS Reset Tweaks
 * ================================================== */
@import "../node_modules/swiper/swiper-bundle.css";
html {
  -webkit-text-size-adjust: 100%;
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  position: relative;
  width: 100%;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

/* Box sizing normalization */
*,
::after,
::before {
  box-sizing: border-box;
}

/* Elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/**
 * CSS Reset Tweaks
 *
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0-modified | 20110126
 * License: none (public domain)
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/**
 * Input Reset
 */
input:required,
input {
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:focus {
  outline: none;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 */
[hidden] {
  display: none;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: none;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  height: auto;
}

/* Make pictures easier to work with */
picture {
  display: inline-block;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
  border: 0;
  background: transparent;
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

[disabled] {
  pointer-events: none;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 */
input[type=checkbox],
input[type=radio] {
  padding: 0;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  border: 0;
  background: transparent;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

/**
 * Based on normalize.css v8.0.1
 * github.com/necolas/normalize.css
 */
hr {
  box-sizing: content-box;
  overflow: visible;
  background: #000;
  border: 0;
  height: 1px;
  line-height: 0;
  margin: 0;
  padding: 0;
  page-break-after: always;
  width: 100%;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 100%;
}

/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 75%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -5px;
}

sup {
  top: -5px;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1;
  margin: 0;
  padding: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  outline: 0;
}

legend {
  color: inherit;
  white-space: normal;
  display: block;
  border: 0;
  max-width: 100%;
  width: 100%;
}

fieldset {
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: block;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Misc
 * ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #202027;
  background-color: #f9fbfd;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-weight: 800;
  font-size: 42px;
  line-height: 51px;
  color: #202027;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.title__span {
  color: #16e09e;
}

.btn {
  padding: 17px 40px;
  background: linear-gradient(230.52deg, #926bff 21.73%, #7c4eff 72.58%);
  box-shadow: 0px 8px 6px -6px rgba(86, 76, 234, 0.6), 0px 14px 12px -8px rgba(86, 76, 234, 0.6), 0px 22px 24px -16px rgba(86, 76, 234, 0.6);
  border-radius: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  font-variant: small-caps;
  color: #ffffff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

.menu__list {
  display: flex;
  gap: 0 40px;
}
.menu__list-link {
  text-decoration: none;
  color: #202027;
  font-variant: small-caps;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.mainscreen {
  padding-top: 40px;
  margin-bottom: 80px;
}
.mainscreen__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainscreen__body {
  flex-basis: 590px;
}
.mainscreen__body-trustpilot-img {
  width: 100%;
  height: 100%;
}
.mainscreen__title {
  font-weight: 800;
  font-size: 56px;
  line-height: 68px;
  margin-bottom: 25px;
}
.mainscreen__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  max-width: 390px;
  margin-bottom: 50px;
}
.mainscreen__text span {
  color: #7c4eff;
  font-weight: 800;
}
.mainscreen__img {
  margin-left: -80px;
  position: relative;
  left: 30px;
}
.mainscreen__img-large {
  height: 100%;
}
.mainscreen__img-small {
  display: none;
}

.advantages {
  margin-bottom: 200px;
}
.advantages__list {
  padding: 36px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f5f8;
  box-shadow: 0px 16px 32px -6px rgba(7, 0, 28, 0.02), 0px 8px 16px -3px rgba(7, 0, 28, 0.03), 0px 4px 8px -1px rgba(7, 0, 28, 0.03);
  border-radius: 24px;
  text-align: center;
}
.advantages__list dt {
  font-weight: 800;
  font-size: 32px;
  line-height: 39px;
  color: #485064;
}
.advantages__list dd {
  line-height: 140%;
}
.advantages__list div {
  padding: 0 85px;
  border-right: 2px solid rgba(209, 200, 251, 0.4);
  border-radius: 2px;
  height: 87px;
}
.advantages__list div:last-child {
  border: none;
}

.premium {
  margin-bottom: 250px;
  position: relative;
}
.premium .container {
  max-width: 1040px;
}
.premium__title {
  margin-bottom: 90px;
}
.premium__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 57px;
}
.premium__container::after {
  content: "";
  position: absolute;
  background: #e5eaef;
  width: 2px;
  height: 380px;
  z-index: -1;
  top: 57px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}
.premium__item-img {
  margin-bottom: 24px;
}
.premium__item-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #485064;
  margin-bottom: 8px;
}
.premium__item-subtitle {
  line-height: 150%;
  margin-bottom: 16px;
}
.premium__list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
.premium__list-item:last-child {
  margin-bottom: 0;
}
.premium__list-item::before {
  content: "";
  background: url(../images/marker.png);
  background-repeat: no-repeat;
  width: 22px;
  height: 22px;
  margin-right: 8px;
}
.premium__purchase {
  text-align: center;
}
.premium__purchase-text {
  color: #727d99;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
}
.premium__purchase-title {
  font-weight: 800;
  line-height: 130%;
  font-size: 24px;
  line-height: 42px;
  margin-bottom: 45px;
}
.premium__purchase-title span {
  color: #7c4eff;
}

.premium::before {
  content: "";
  background: url(../images/circles-right.svg);
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 684px;
  height: 684px;
  right: -18%;
  top: -35%;
}

.premium::after {
  content: "";
  background: url(../images/circles-right.svg);
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
  width: 684px;
  height: 684px;
  left: -20%;
  top: 72%;
}

.proxy {
  margin-bottom: 200px;
}
.proxy__title {
  margin-bottom: 80px;
}
.proxy__container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.proxy__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 285px;
  height: 350px;
  box-shadow: 0px 16px 32px -6px rgba(7, 0, 28, 0.02), 0px 8px 16px -3px rgba(7, 0, 28, 0.03), 0px 4px 8px -1px rgba(7, 0, 28, 0.03);
  border-radius: 24px;
  cursor: pointer;
  transition-property: transform;
  padding: 60px 16px 20px;
}
.proxy__item--active {
  background-color: #7c4eff;
  color: #fff;
}
.proxy__item--active .proxy__item-text {
  display: block;
  -webkit-animation: slide-from-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-from-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  transition: transform 0.3s ease 0.3s;
  overflow-y: scroll;
}
@-webkit-keyframes slide-from-bottom {
  0% {
    flex: 0 0 0%;
    font-size: 0;
    height: 0;
    margin: 0;
    min-height: 0;
    opacity: 0;
    padding: 0;
    transform: translateY(100px);
  }
  30% {
    flex: 0 0 0%;
    font-size: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transform: translateY(100px);
  }
  100% {
    flex: 0 0 0%;
    flex: 1 1 94px;
    margin-top: 16px;
    min-height: 94px;
    opacity: 1;
    padding-bottom: 14px;
    transform: translateY(0);
  }
}
@keyframes slide-from-bottom {
  0% {
    flex: 0 0 0%;
    font-size: 0;
    height: 0;
    margin: 0;
    min-height: 0;
    opacity: 0;
    padding: 0;
    transform: translateY(100px);
  }
  30% {
    flex: 0 0 0%;
    font-size: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transform: translateY(100px);
  }
  100% {
    flex: 0 0 0%;
    flex: 1 1 94px;
    margin-top: 16px;
    min-height: 94px;
    opacity: 1;
    padding-bottom: 14px;
    transform: translateY(0);
  }
}
.proxy__item--active .proxy__item-img img {
  transform: scale(0.8);
  transition: transform 0.5s ease;
}
.proxy__item--active .proxy__item-img--image-6 img, .proxy__item--active .proxy__item-img--image-8 img {
  width: 180px;
  height: 170px;
}
.proxy__item-img {
  width: 210px;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
  transition: transform 0.3s ease 0s;
}
.proxy__item-img::before {
  content: "";
  background-image: url(/images/proxy__circle.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 160px;
  height: 160px;
  z-index: -1;
}
.proxy__item-img img {
  margin-top: -50px;
}
.proxy__item-img--image-2 img, .proxy__item-img--image-7 img {
  margin-right: -35px;
}
.proxy__item-imt--image-3 img {
  margin-right: -25px;
}
.proxy__item-img::after {
  content: "";
  background-image: url(/images/proxy__smallcircle.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
}
.proxy__item-img--image-1::after {
  right: 25px;
  top: 4px;
}
.proxy__item-img--image-2::after {
  left: 30px;
  top: -5px;
}
.proxy__item-img--image-3::after {
  left: 30px;
}
.proxy__item-img--image-4::after {
  right: 25px;
  top: 15px;
}
.proxy__item-img--image-5::after {
  left: 30px;
  top: 10px;
}
.proxy__item-img--image-6::after {
  right: 0;
  top: -33px;
}
.proxy__item-img--image-6::before {
  background-image: url(/images/proxy-circle-6.png);
  width: 45px;
  height: 45px;
  top: -15px;
  left: 42px;
}
.proxy__item-img--image-7::after {
  left: 30px;
  top: -5px;
}
.proxy__item-img--image-8::after {
  left: 3px;
  top: -25px;
}
.proxy__item-img--image-8::before {
  background-image: url(/images/proxy-circle-8.png);
  width: 52px;
  height: 52px;
  left: 26px;
  top: 9px;
}
.proxy__item-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
}
.proxy__item-text {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #f9fbfd;
  display: none;
}

.partners {
  text-align: center;
  margin-bottom: 200px;
}
.partners__title {
  margin-bottom: 80px;
}
.partners__slider {
  height: 200px;
  margin-bottom: 80px;
}
.partners__slider-wrapper {
  display: flex;
  align-items: center;
}
.partners__slide {
  background: radial-gradient(68.85% 126.58% at 92.36% 8.2%, rgba(251, 211, 0, 0.1) 0%, rgba(255, 168, 0, 0) 100%), radial-gradient(42.62% 139.24% at 0% 36.07%, rgba(112, 0, 254, 0.1) 0%, rgba(66, 0, 255, 0) 100%), radial-gradient(40.98% 40.98% at 45.86% 100%, rgba(0, 255, 25, 0.1) 0%, rgba(0, 255, 25, 0) 100%);
  box-shadow: 0px 19.5615px 39.1231px -19.5615px rgba(7, 0, 28, 0.08), 0px 9.78077px 19.5615px -9.78077px rgba(7, 0, 28, 0.08), 0px 4.89039px 9.78077px -4.89039px rgba(7, 0, 28, 0.08);
  -webkit-backdrop-filter: blur(12.226px);
          backdrop-filter: blur(12.226px);
  border-radius: 16px;
  width: auto;
  height: auto;
  padding: 22px 25px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners__slide-text {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #485064;
}
.partners__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #7c4eff;
  padding: 16px 41px 16px 26px;
  border: 1px solid #7c4eff;
  border-radius: 12px;
  position: relative;
}
.partners__btn::after {
  content: "";
  position: absolute;
  background-image: url(/images/arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 8px;
  height: 10px;
  right: 24px;
  top: 22px;
}

.swiper-slide-active {
  width: 301px;
  height: 135px;
  background: rgba(124, 78, 255, 0.1);
  box-shadow: 0px 5px 5px -2.44519px rgba(124, 78, 255, 0.08), 0px 10px 10px -4.89039px rgba(124, 78, 255, 0.08), 0px 20px 20px -9.78077px rgba(124, 78, 255, 0.08), 0px 40px 40px -19.5615px rgba(124, 78, 255, 0.08);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 20px;
  flex-direction: column;
  align-items: start;
}

.swiper-slide-active .partners__slide-img {
  display: block;
  margin-bottom: 16px;
}

.swiper-slide-active .partners__slide-text {
  display: block;
  text-align: left;
}

.features {
  margin-bottom: 200px;
}
.features__title {
  margin-bottom: 80px;
}
.features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px 0;
}
.features__item {
  align-items: center;
  display: flex;
  flex-basis: 570px;
}
.features__item-img {
  margin-right: 25px;
  min-width: 85px;
  text-align: center;
}
.features__item-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #485064;
  margin-bottom: 8px;
}
.features__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #202027;
}

.traffic {
  margin-bottom: 200px;
}
.traffic__container {
  padding: 80px;
  background: #f3f5f8;
  border-radius: 48px;
  max-width: 1200px;
}
.traffic__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}
.traffic__info {
  flex-basis: 655px;
  padding-left: 12px;
}
.traffic__title {
  text-align: left;
  margin-bottom: 24px;
}
.traffic__text {
  margin-bottom: 77px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #202027;
}
.traffic__slider {
  position: relative;
  width: 330px;
}
.traffic__color-fill {
  background: url(/images/progress-fill.png) no-repeat;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 330px;
}
.traffic__range {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/progressbar.svg);
  height: 18px;
  width: 100%;
  position: relative;
}
.traffic__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  z-index: 3;
  width: 36px;
  height: 36px;
  position: relative;
}
.traffic__range-gb, .traffic__range-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #7c4eff;
  position: absolute;
  transform: translateX(-50%);
}
.traffic__range-gb {
  top: -40px;
}
.traffic__range-price {
  bottom: -40px;
}
.traffic__progress {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.traffic__progress-img {
  align-items: center;
  display: flex;
  flex: 0 1 310px;
  height: 306px;
  justify-content: center;
  position: relative;
  width: 310px;
}
.traffic__progress svg {
  filter: drop-shadow(-2px -2px 16px rgba(0, 6, 17, 0.3)) drop-shadow(2px 2px 16px rgba(255, 255, 255, 0.3));
  height: 400px;
  left: -9px;
  position: absolute;
  top: -30px;
  width: 400px;
}
.traffic__progress svg circle {
  fill: none;
  stroke-width: 31;
  stroke: #7c4eff;
  stroke-dashoffset: 1079;
  stroke-dasharray: 1080;
  stroke-linecap: round;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: rotate(135deg);
}
.traffic__progress-gb {
  position: absolute;
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #7c4eff;
  top: 107px;
}
.traffic__progress-gb::after {
  content: "";
  background: #d1c8fb;
  border-radius: 6px;
  bottom: -16px;
  height: 3px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 32px;
}
.traffic__progress-price {
  position: absolute;
  bottom: 75px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #7c4eff;
}
.traffic__button {
  text-align: center;
}

#selector {
  height: 50px;
  width: 36px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transform: translateX(-50%);
  z-index: 2;
}

.select-button {
  height: 36px;
  width: 36px;
  background-image: url(../images/progressbar-selector.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  bottom: 0;
}

.coverage {
  margin-bottom: 200px;
}
.coverage__title {
  margin-bottom: 80px;
}
.coverage__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
}
.coverage__img {
  width: 100%;
}
.coverage__body-title {
  color: #485064;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 8px;
  text-shadow: none;
  text-align: left;
}
.coverage__body-text {
  color: #202027;
}

.works {
  margin-bottom: 200px;
  text-align: center;
}
.works__title {
  margin-bottom: 80px;
}
.works__form-search {
  color: #7c4eff;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 14px 55px 14px 25px;
  background: rgba(0, 14, 34, 0.06);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 12px;
  border: none;
  margin-bottom: 16px;
  width: 400px;
  position: relative;
  left: 15px;
}
.works__form-btn {
  position: relative;
  right: 30px;
  top: -2px;
}
.works__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #727d99;
}
.works__text span {
  color: #7c4eff;
}

.trial {
  margin-bottom: 200px;
}
.trial__container {
  background-image: url(/images/trial-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 48px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 78px 64px;
  position: relative;
}
.trial__body-subtitle {
  text-align: left;
  text-shadow: none;
  margin-bottom: 24px;
}
.trial__body-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 50px;
}
.trial__img {
  position: absolute;
  top: -50px;
  right: -40px;
  -webkit-animation: try-image 2s ease-in-out infinite;
          animation: try-image 2s ease-in-out infinite;
}

@-webkit-keyframes try-image {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes try-image {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translate(0);
  }
}
.footer {
  padding: 48px 0px 24px;
  background-color: #202027;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.footer__logo {
  display: block;
  margin-bottom: 24px;
}
.footer__support-item {
  margin-bottom: 20px;
}
.footer__support-item:last-child, .footer__info-item:last-child {
  margin-bottom: 0;
}
.footer__support-link {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #c7cbd6;
  text-decoration: none;
  padding-left: 36px;
  position: relative;
}
.footer__support-item a::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
}
.footer__support-item:nth-child(1) a::before {
  background-image: url(/images/icons/sms.png);
  background-size: cover;
}
.footer__support-item:nth-child(2) a::before {
  background-image: url(/images/icons/call.png);
}
.footer__support-item:nth-child(3) a::before {
  background-image: url(/images/icons/tg.png);
}
.footer__info {
  display: flex;
  gap: 0 120px;
}
.footer__info-title {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #a0a6b1;
  opacity: 0.75;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__info-item {
  margin-bottom: 16px;
  padding: 1px 0;
}
.footer__info-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #f9fbfd;
  text-decoration: none;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 15px;
  align-items: center;
  border-top: 1px solid rgba(72, 80, 100, 0.2);
}
.footer__bottom-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #727d99;
}
.footer__bottom-socials {
  display: flex;
  gap: 0 24px;
}/*# sourceMappingURL=style.css.map */