.advantages {
	margin-bottom: 200px;
	&__list {
		padding: 36px 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f3f5f8;
		box-shadow: 0px 16px 32px -6px rgba(7, 0, 28, 0.02), 0px 8px 16px -3px rgba(7, 0, 28, 0.03),
			0px 4px 8px -1px rgba(7, 0, 28, 0.03);
		border-radius: 24px;
		text-align: center;
	}

	&__list dt {
		font-weight: 800;
		font-size: 32px;
		line-height: 39px;
		color: #485064;
	}

	&__list dd {
		line-height: 140%;
	}

	&__list div {
		padding: 0 85px;
		border-right: 2px solid rgba(209, 200, 251, 0.4);
		border-radius: 2px;
		height: 87px;
	}

	&__list div:last-child {
		border: none;
	}
}
