.features {
	margin-bottom: 200px;
	position: relative;
	&__title {
		margin-bottom: 80px;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 60px 0;
	}

	&__item {
		align-items: center;
		display: flex;
		flex-basis: 570px;
	}

	&__item-img {
		margin-right: 25px;
		min-width: 85px;
		text-align: center;
	}

	&__item-title {
		font-weight: 800;
		font-size: 24px;
		line-height: 29px;
		color: #485064;
		margin-bottom: 8px;
	}

	&__item-text {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #202027;
	}
}

.features::before {
	content: "";
	background: url(../images/bg-circle.svg);
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
	width: 684px;
	height: 684px;
	left: -16%;
	top: -50%;
}

@media (max-width: 1200px) {
	.features {
		&__item {
			flex-basis: 476px;
		}
	}
}

@media (max-width: 992px) {
	.features {
		&__list {
			justify-content: center;
			gap: 35px 0;
		}
	}
}

@media (max-width: 768px) {
	.features {
		&__title {
			margin-bottom: 50px;
		}
	}
}

@media (max-width: 600px) {
	.features {
		margin-bottom: 70px;
		&__item-title {
			font-size: 20px;
		}
		&__item-text {
			font-size: 14px;
		}
	}
}
