.premium {
	margin-bottom: 250px;
	position: relative;
	& .container {
		max-width: 1040px;
	}

	&__title {
		margin-bottom: 90px;
	}

	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		margin-bottom: 57px;
	}

	&__container::after {
		content: "";
		position: absolute;
		background: #e5eaef;
		width: 2px;
		height: 380px;
		z-index: -1;
		top: 57px;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
	}

	&__item-img {
		margin-bottom: 24px;
	}

	&__item-title {
		font-weight: 800;
		font-size: 24px;
		line-height: 29px;
		color: #485064;
		margin-bottom: 8px;
	}

	&__item-subtitle {
		line-height: 150%;
		margin-bottom: 16px;
	}

	&__list-item {
		font-weight: 500;
		font-size: 16px;
		line-height: 200%;
		margin-bottom: 4px;
		display: flex;
		align-items: center;
	}

	&__list-item:last-child {
		margin-bottom: 0;
	}

	&__list-item::before {
		content: "";
		background: url(../images/marker.png);
		background-repeat: no-repeat;
		width: 22px;
		height: 22px;
		margin-right: 8px;
	}

	&__purchase {
		text-align: center;
	}

	&__purchase-text {
		color: #727d99;
		font-weight: 700;
		font-size: 24px;
		line-height: 130%;
	}

	&__purchase-title {
		font-weight: 800;
		line-height: 130%;
		font-size: 24px;
		line-height: 42px;
		margin-bottom: 45px;
	}

	&__purchase-title span {
		color: #7c4eff;
	}
}

.premium::before {
	content: "";
	background: url(../images/circles-right.svg);
	background-repeat: no-repeat;
	position: absolute;
	z-index: -1;
	width: 684px;
	height: 684px;
	right: -18%;
	top: -35%;
}
